#carouselExampleInterval {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh; 
    z-index: -1;
    margin-top: 81px;
    border-color: white;
    box-shadow: none;
    border: none;
}
a {
    text-decoration: none;
    color: black;
}
#overlap {
    margin-top: 450px;
}


#left {
    z-index: 10;
}



.cardFlex{
    display: flex;
    gap: 6px;

    flex-wrap: wrap;
    width: 244px; 
}

.card-body{
    padding-top: 2px;
}

.PaddingBottomLess {
    padding-bottom: 2px;
}

.cards-main {
    z-index: 3;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    height: 340px;
}
.card-img-top {
    width: 119px;
    height: 114.8px;
    
}
span {
    color: black !important;
}
.carousel-control,.carousel-control-prev, .carousel-control-next-icon {
    z-index: 3 ;  
    color: black !important; 
}

.BootstrapPadding {
    padding: 16px, 16px, 16px !important;
}

.FullFit {
    width: 260;
    height: 270;
}

.carousel-inner {
    height: 650;
}